@font-face {
  font-family: Deo;
  src: url("https://raw.githubusercontent.com/theMaxud/TheMAXUD.github.io/main/assets/Deo.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/theMaxud/TheMAXUD.github.io/main/assets/Deo.woff")
      format("woff");
  font-display: swap;
}
